body{
 overflow: hidden;
    background-image: url("./bg.webp");
}


.search{
    position: relative;
    left: 42%;
    top:50px;
}
#names{
  display: none;
}

.Info{
  text-align: center;
  margin-top: 100px;
}
.weather{
  margin-top: 30px;
}

footer{
  position:relative; top:320px;
  text-align: center;
}
/* Grow */
.hvrgrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.7s;
    transition-property: transform;
  }
  
  .hvrgrow:hover,
  .hvrgrow:focus,
  .hvrgrow:active {
    transform: scale(1.2);
  }
  


@media screen and (max-width:450px) {

  .search{
    position: relative;
    left: 12%;
    top:50px;
}
#names{
display: initial;
text-align: center;
font-size: large;
}
#cityName{
  position: relative;
  right: 40px;
}
footer{
 display: none;
}
blockquote{
  position: relative;
  right: 40px;
  font-size: 12px;
  text-align: center;
}
}

@media screen and (max-width:376px) {

  .search{
    position: relative;
    left: 12%;
    top:50px;
}
#names{
display: initial;
text-align: center;
font-size: large;
}
#cityName{
  position: relative;
  right: 23px;
}
footer{
 display: none;
}
blockquote{
  position: relative;
  right: 40px;
  font-size: 12px;
  text-align: center;
}
}